# ===== MAVEN / JAVA =====
target/
build/
.mvn/

# ===== INTELLIJ IDEA =====
.idea/
*.iml
*.iws
*.ipr

# ===== NETBEANS =====
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ===== VS CODE =====
.vscode/

# ===== SYSTEM FILES =====
.DS_Store
Thumbs.db

# ===== LOGS =====
*.log

# ===== SENSIBLE / CONFIG =====
.env
*.env
application.properties
application.yml